# ignore ALL files in ANY directory named .terraform
.terraform/

# ignore ALL clipboard files
Clipboards/

# ignore default terraform files
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate